body {
    background-color: #F6F6F6;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    width: 45%;
}
.navName {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    list-style: none;
    width: 73%;
    padding: 1%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.navHighlight {
    color: #078F7F;
    display: inline-block;
}

nav ul {
    width: 50%;
    margin-left: auto;  
}

.intro {
    text-align: left;
    margin-right: auto;
    margin-left: 0;

}

.content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    padding: 5px;
    font-size: 17px;
}

button {
    padding: 5px;
}

.introHeader {
    color: #078F7F;
    font-size: 30px;
}

.line {
 border-bottom: 1px solid black;
 padding: 10px;
 width: 95%;
}

footer ul {
    list-style: none;
    vertical-align: top;
    font-family: Helvetica;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 30px;
    padding-top: 0;
}
li {
    display: inline-block;
    margin-right: 10px;
}

/* My UX Skills Section coded using CSS Flex*/
.mySkills {
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px 30px;
    padding-top: 0;  
}
.flexContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .skill {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: left;
    margin: 0 10px;
  }
  
  .skill img {
    max-width: 100%;
  }

/* My Work Section Constructed Using CSS Grid*/
.myWork {
    font-family: Helvetica;
    padding: 60px 30px;
    padding-top: 0;
}
.workGrid {
    margin: 0px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
} 

.ImaginationLibrary {
    width: 90%;
}
.Greecycle {
    width: 90%;
}
.USDA {
    width: 90%;
}
h4 {
    color: #078F7F;
}
button {
    padding: 10px;
   display: inline-block;
}
button img {
    vertical-align: middle;
    margin-right: 10px;
}

.to-top {
    background: #078F7F;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    color:#1f1f1f;
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
  }

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:3;
}

.to-top i {
    color: #e5e3e3;
}

@media only screen and (max-width: 600px) {
    .workGrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .flexContainer {
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;

    }
    .skill {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
      }
    
      .skill h3 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    ;
}

@media screen and (max-width: 903px) {
    nav {
      position: absolute;
      top: 0;
      right: 0;
    }
  }